.DS_Store
Manim_files/manimanims/animations/media/Tex
Manim_files/manimanims/images/media/Tex/
Manim_files/manimanims/images/media/texts/
Manim_files/manimanims/animations/media/texts/
testing_functionality.py
*.pyc
**/partial_movie_files
.python-version